<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Home</title>
    <script rel="stylesheet" src="../../public/static/css/app.cca059254702f9ed953b7df749673cf4.css"></script>
</head>
<body>
<h1>Hello World</h1>
<p>
    <span th:text="'Your system user name is ' + ${currentUser}">Hello John Doe</span>
</p>
<div id="app"></div>

<script type="application/javascript" src="../../public/static/js/app.f16ac5c624284d30f5af.js"></script>
</body>
</html>